body {
  background-color: #f5f5f5;
}
.lk {
  margin-top: 110px;
  margin-bottom: 30px;
  background-color: #ffffff;
  height: 700px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 0, 0 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 0, 0 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 0, 0 5px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}
.back1 {
  color: #ffffff;
  background: url(/img/right_panel.png) repeat-x;
  height: 90px;
  min-height: 90px;
  border-bottom: 1px solid #ccc;
}
h1 {
  color: #ffffff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.group {
  margin-right: 10px;
}
.settings a,
.settings:focus,
.settings:visited {
  margin-left: 7px;
  color: #ffffff;
  text-decoration: none;
}
.settings a:hover,
.settings:focus:hover,
.settings:visited:hover {
  color: #f6f6f6;
  border-bottom: 1px dashed graytext;
}
.menu .nav-pills {
  width: 180px;
  margin-left: 18px;
}
.menu .nav-pills .icon-file {
  margin-left: 2px;
}
.menu .nav-pills span {
  margin-left: 4px;
}
.menu .nav-pills a,
.menu .nav-pills :hover,
.menu .nav-pills :focus {
  color: #2e3436;
}
.menu .nav-pills i {
  margin-right: 15px;
}
.menu .nav-pills .active .icon-angle-right {
  float: right;
}
.menu .nav-pills .active a,
.menu .nav-pills .active :hover,
.menu .nav-pills .active :focus {
  color: #000000;
  background: #f5f5f5;
  font-weight: 600;
}
.imgprofile {
  position: absolute;
  z-index: 1;
  left: 18px;
  top: 15px;
  height: 180px;
  width: 180px;
}
.imgprofile .profile {
  -webkit-box-shadow: inset 0 0 8px 4px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: inset 0 0 8px 4px rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 0 8px 4px rgba(0, 0, 0, 0.35);
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
.imgprofile .profile img {
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  position: relative;
  z-index: -2;
}
#content {
  padding-top: 10px;
}
#content h1.development {
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
#content .msg {
  margin-top: 10px;
  margin-bottom: 20px;
}
#content .msg .span4 {
  border-bottom: 1px solid #cccccc;
}
#content .msg .span4 b {
  font-weight: 400;
}
#content .msg .span4 .span8 {
  margin-top: 5px;
}
