#mini_send {
  margin-bottom: -420px;
  position: fixed;
  right: 20px;
  bottom: 0;
  border: 1px solid #ccc;
  z-index: 9999;
  height: 400px;
  width: 280px;
  background: #f4f4f4;
}
#mini_send #header {
  background: url(/img/right_panel.png) repeat-x;
  color: #ffffff;
  padding: 5px;
  height: 20px;
}
#mini_send #header #header-inner {
  word-wrap: break-word;
  width: 90%;
  font-size: 13pt;
  font-family: arial sans-serif;
}
#mini_send #header .arrow:last-child {
  margin-right: 5px;
}
#mini_send #header .arrow:hover {
  cursor: pointer;
}
#mini_send #inner {
  position: relative;
}
#mini_send #inner #messages {
  overflow-y: auto;
  overflow-x: hidden;
  height: 335px;
}
#mini_send #inner #messages.shadow {
  -moz-box-shadow: inset 0 4px 10px -5px #000000;
  -webkit-box-shadow: inset 0 4px 10px -5px #000000;
  box-shadow: inset 0 4px 10px -5px #000000;
}
#mini_send #inner #messages #message {
  padding: 5px 12px 5px 5px;
  border-bottom: 1px dashed #cccccc;
}
#mini_send #inner #messages #message:last-child {
  border-bottom: none;
}
#mini_send #inner #messages #message .avatar img {
  display: block;
  height: 30px;
  width: 30px;
}
#mini_send #inner #messages #message .time {
  clear: both;
  color: #777;
  font-size: 0.9em;
  padding: 0 0 4px 4px;
}
#mini_send #inner #messages #message .text {
  vertical-align: top;
  margin-left: 32px;
  word-wrap: break-word;
}
#mini_send #inner #enter {
  border-top: 1px solid #cccccc;
  padding: 3px;
  background: #ffffff;
}
#mini_send #inner #enter .message {
  line-height: 15px;
  margin-left: 35px;
  height: 35px;
  max-height: 35px;
  width: 240px;
  overflow: hidden;
}
#mini_send #inner #enter .message:focus {
  outline: none;
}
