/* ==========================================================================
   Sticky footer
   ========================================================================== */
#wrap {
  margin-top: 51px;
}
#notification {
    display: block;
    position: fixed;
    top: 60px;
    right: 10px;
    z-index: 9999;
}
.alert {
    float: right;
    clear: both;
    margin-bottom:5px;
    max-width: 300px;
}