/*
  Выделение полей
*/
.div-block.error,
input.error,
textarea.error {
  border-color: #bd4247;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.div-block:focus.error,
input:focus.error,
textarea:focus.error {
  border-color: #983538;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/*
  Balloon
*/
.formError {
  position: absolute;
  z-index: 1020;
  opacity: 0;
  filter: alpha(opacity=0);
  margin-left: 18px;
  word-break: break-all;
  display: inline-table;
  min-width: 150px;
  max-width: 300px;
  padding: 8px;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.formError.in {
  opacity: .8;
  filter: alpha(opacity=80);
}
.formError:before,
.formError:after {
  content: "";
  position: absolute;
}
.formError.arrow-right:before {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
  left: -6px;
  top: 13px;
}
.formError.arrow-right:after {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000000;
  left: -5px;
  top: 13px;
}
.formError.arrow-top:before {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  left: 7px;
  bottom: -6px;
}
.formError.arrow-top:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
  left: 7px;
  bottom: -5px;
}
.formError.arrow-bottom:before {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  left: 7px;
  top: -6px;
}
.formError.arrow-bottom:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
  left: 7px;
  top: -5px;
}
