h2.info {
  text-align: center;
  padding: 10px 30px 0;
}
.nav-tabs li {
  position: relative;
}
.nav-tabs li a {
  border: 1px solid #ddd;
}
.nav-tabs li a:hover {
  border: 1px solid #ddd;
}
.nav-tabs li.active > a {
  background: #f5f5f5;
}
.nav-tabs li.active > a:hover {
  background: #f5f5f5;
}
.nav-tabs li span.error {
  background: transparent url(../../img/error.png) no-repeat top left;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
#wrap {
  margin-top: 51px;
}
.word {
  display: inline-block;
  margin-left: -2px;
  width: 32px;
  height: 32px;
  margin-right: .75em;
  line-height: 14px;
  vertical-align: middle;
  background: url("../../img/word.png") no-repeat;
}
/*
  Стиль для блока с формой
*/
.form-block {
  padding: 20px;
}
.form-block h1 {
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
  font-weight: bold;
  font-size: 17pt;
}
.form-block .line {
  height: 1px;
  width: 100%;
  border-top: 1px dashed #ccc;
  margin-top: 10px;
  padding-bottom: 15px;
}
.form-block input,
.form-block textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 97%;
}
.form-block textarea {
  resize: none;
  height: 85px;
}
.form-block #toggleReg {
  margin: 5px 0 10px 0;
}
.form-block label {
  font-weight: bolder;
}
.form-block span.label-check {
  font-weight: bolder;
}
.form-block #otherText {
  margin-top: 5px;
}
.form-block a:hover.slct {
  color: #000000;
  text-decoration: none;
}
