.downloads {
  margin-top: 20px;
}
.dwn_block {
  margin-bottom: 20px;
  height: 80px;
  border: 1px solid #f5f5f5;
  background-color: #ffffff;
}
.dwn_block img {
  padding: 10px;
}
.dwn_block h2 {
  margin-top: 8px;
}
.dwn_block .span3 {
  width: 200px;
}
.dwn_block .buttons_gr {
  margin-top: 0;
  margin-bottom: 0;
}
.dwn_block .buttons_gr a:nth-child(1) {
  padding-left: 19px;
  padding-right: 19px;
}
