.settingsContent .span4 {
  width: 248px;
  margin-top: 20px;
  border: 1px solid #f5f5f5;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.settingsContent .span4:nth-child(2) {
  margin-left: 20px;
}
.settingsContent .span4:nth-child(2) form > p {
  margin-bottom: 20px;
}
