.d_fio {
  .well {
    height: 791px;
  }
  .wrap {
    padding-left: 2px;
    overflow-x: auto;
    height: 760px
  }
}

.d_status {


  .header-wrap {
    margin-top: 0
  }
  .btns {
    margin-top: -5px;
  }

    height: 100px

}

.d_info {
  height: 630px;


  .tab-content {
    margin-top: 40px;
  }
}
