#wrap {
  margin-top: 65px !important;
}
#notification {
  display: block;
  position: fixed;
  top: 70px;
  right: 10px;
  z-index: 9999;
}
.alert {
  margin-bottom: 10px;
}
.block {
  padding: 20px;
  margin-bottom: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 400px;
  -webkit-box-shadow: 0 0 0 0, 0 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 0, 0 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 0, 0 5px 5px rgba(0, 0, 0, 0.2);
}
h5.header_block {
  margin-top: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
}
.btn_actions {
  margin-top: 20px;
}
