.span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}
.block {
  padding: 20px;
  margin-bottom: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 0, 0 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 0, 0 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 0, 0 5px 5px rgba(0, 0, 0, 0.2);
}
.right-block {
  margin-left: 10px !important;
  padding-left: 10px;
  border-left: 1px solid #D5D5D5;
}
.right-block h1 {
  font-size: 20px;
  color: #555;
  line-height: 20px;
  padding-bottom: 6px;
  border-bottom: 1px solid #cccccc;
  margin-top: 30px;
}
.right-block h1:first-child {
  margin-top: 10px;
}
.right-block .nav {
  margin-top: 30px;
}
.btn-circle {
  width: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.listener.table-hover tbody tr:hover > td,
.listener.table-hover tbody tr:hover > th {
  cursor: pointer;
}
.statement tbody {
  overflow: auto;
}
.statement tbody tr:nth-child(1) td {
  border-top: none;
}
.status {
  padding: 10px;
  height: 95px;
  border: 1px solid #cccccc;
  text-align: center;
  position: relative;
  background: #f5f5f5;
}
.status span {
  font-size: 15px;
  line-height: 40px;
}
.status a {
  position: absolute;
  left: 45%;
  bottom: 15px;
}
.listener thead > tr,
.listener tbody {
  display: inline-block;
}
.listener tbody {
  overflow: auto;
}
.listener tbody tr td {
  width: 154px;
  vertical-align: middle;
  text-align: left;
  border-top: none;
}
.listener tbody tr td:nth-child(1) {
  width: 15px;
}
.listener thead {
  border-bottom: 1px solid #ccc;
}
.listener thead tr th {
  vertical-align: middle;
  text-align: center;
  width: 20%;
  font-size: 16px;
}
.listener thead tr th:nth-child(1) {
  width: 3%;
}
