.admins {
  overflow: hidden;
}
.admins div.span4 .newUser {
  min-height: 280px;
  height: 280px;
}
/*
  оформление таблицы для админов, с прокруткой
*/
table tbody {
  height: 191px;
  overflow: auto;
}
table td {
  width: 190px;
}
table thead > tr,
table tbody {
  display: inline-block;
}
table thead tr td:nth-child(1) {
  width: 15px;
}
table thead tr td:nth-child(2) {
  padding-left: 60px;
  width: 90px;
}
table thead tr td:nth-child(3) {
  width: 210px;
  text-align: center;
}
table thead tr td:nth-child(4) {
  width: 100px;
  text-align: center;
}
table tbody tr td:nth-child(1) {
  width: 15px;
}
table tbody tr td:nth-child(2) {
  width: 150px;
  text-align: center;
}
table tbody tr td:nth-child(3) {
  width: 210px;
  text-align: center;
}
table tbody tr td:nth-child(4) {
  text-align: center;
}
