.box-shadow(@h: 0, @v: 0, @blur: 0, @opacity: 0.2) {
  -webkit-box-shadow: @h @v @blur rgba(0, 0, 0, @opacity);
  -moz-box-shadow: @h @v @blur rgba(0, 0, 0, @opacity);
  box-shadow: @h @v @blur rgba(0, 0, 0, @opacity);
}

.border-radius(@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.popupBorder(@color: #fff) {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid @color;
}


#popup, .setting {
    position: absolute;
    left: auto;
    z-index: 1000;
    min-width: 160px;
    padding: 15px;
    margin: 2px 0 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;

    .border-radius(6px);
    .box-shadow(0, 5px, 10px, 0.2);

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    text-shadow: none;
    word-break: break-all;
}
/**
 * Стиили для PopupWin
 */
/**
 * Стиили для PopupWin
 */
#popup:before, #popup:after,
.setting:before, .setting:after{
    content: "";
    position: absolute;
}
/**
 * Всплывающее окно, появляющееся сверху от родительского элемента
 */


#popup .popup_top:before,
.setting .popup_top:before{
   .popupBorder(#ccc);
    border-top-color: rgba(0, 0, 0, 0.2);
    left: 40%;
    bottom: -8px;
}
#popup .popup_top:after,
.setting .popup_top:after{
    .popupBorder(#fff);
    left: 40%;
    bottom: -7px;
}
/**
 * Всплывающее окно, появляющееся снизу от родительского элемента
 */
#popup .popup_bottom:before,
.setting .popup_bottom:before{
    .popupBorder(#ccc);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    right: 20px;
    top: -8px;
}
#popup .popup_bottom:after,
.setting .popup_bottom:after{
    .popupBorder(#fff);
    right: 20px;
    top: -7px;
}
/**
 * Всплывающее окно, появляющееся слева от родительского элемента
 */
#popup .popup_left:before,
.setting .popup_left:before{
    .popupBorder(#ccc);
    border-left-color: rgba(0, 0, 0, 0.2);
    right: -8px;
    top: 10px;
}

#popup.popup_left:after,
.setting.popup_left:after{
    .popupBorder(#fff);
    right: -7px;
    top: 10px;
}
/**
 * Всплывающее окно, появляющееся справа от родительского элемента
 */
#popup.popup_right:before {
    .popupBorder(#ccc);
    border-right-color: rgba(0, 0, 0, 0.2);
    left: -8px;
    top: 10px;
}
#popup.popup_right:after {
    .popupBorder(#fff);
    left: -7px;
    top: 10px;
}
/**
 * =====================================================
 */
#popup ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#popup .buttons {
    margin-top: 5px;
}
.img-login {
    width: 70px;
    height: 70px;
    padding-right: 10px;
    padding-top: 5px;
}